*.mod
*.o
*~
*.a
*.diff
*.exe
share/
util/
build/
data
.general.conf
.amps.conf
.last_input_info
Makefile.local
Makefile.test
output
Makefile.conf
Makefile.def
Makefile.RULES
Makefile.DEPEND
stand_alone.f90
BATL_size.f90
ModSize.f90
ModUser.f90
ModUser.f90.safe
ModEquation.f90
ModEquation.f90.safe
ModHdf5.f90
ModImplHypre.f90
Tmp_*
srcTemp
.amps.InputFileName.txt
.ampsConfig.Settings
*.input*
test_*
run*
table_parser
Makefile.test
AMPS.pdf
doc/AMPS.log
doc/AMPS.aux
doc/AMPS.idx
doc/AMPS.out
doc/AMPS.toc
doc/AMPS.dvi
